{
  "openapi": "3.1.0",
  "info": {
    "title": "Bookrail API",
    "version": "2026-09-01",
    "description": "Booking infrastructure: availability, holds, bookings, their life cycle, and the events they emit.\n\nThis document is **generated** from the Zod schemas of the server and proved by a contract guard that\nvalidates every response of the test suite against the schema declared here. In case of a disagreement\nbetween this file and any prose documentation, this file is right.\n\n- Every instant is ISO 8601. Any explicit offset is accepted on input; every instant is returned in UTC.\n- Identifiers are prefixed (`bk_`, `res_`, `svc_`, …); the prefix says what the object is.\n- Lists are cursored: `?limit=&starting_after=`, never an offset, and never a total.\n- Every `POST /v1/...` honours `Idempotency-Key`. The same key within 24 hours replays the same response.",
    "x-bookrail-app-version": "0.16.0"
  },
  "servers": [
    {
      "url": "https://api.bookrail.dev",
      "description": "Bookrail cloud."
    },
    {
      "url": "http://localhost:3000",
      "description": "A local `pnpm dev`, on the default `PORT`."
    }
  ],
  "tags": [
    {
      "name": "meta",
      "description": "The specification itself."
    },
    {
      "name": "project",
      "description": "The project a key belongs to."
    },
    {
      "name": "availability",
      "description": "What can be booked, and when."
    },
    {
      "name": "locations",
      "description": "Physical places, each with a time zone."
    },
    {
      "name": "resources",
      "description": "What a booking consumes: a person, a room, a court, a piece of equipment."
    },
    {
      "name": "resource_groups",
      "description": "Interchangeable resources, with an allocation strategy."
    },
    {
      "name": "schedules",
      "description": "Opening hours and calendar exceptions."
    },
    {
      "name": "services",
      "description": "What a customer books, with its durations, buffers, price and requirements."
    },
    {
      "name": "policies",
      "description": "Cancellation, reschedule, no-show and confirmation rules."
    },
    {
      "name": "customers",
      "description": "The people bookings are made for."
    },
    {
      "name": "holds",
      "description": "Capacity taken for a few minutes, before it becomes a booking."
    },
    {
      "name": "bookings",
      "description": "The booking and its life cycle."
    },
    {
      "name": "events",
      "description": "The append-only log of everything that happened."
    },
    {
      "name": "webhooks",
      "description": "Delivery endpoints, their signing secret and their delivery log."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/openapi.json": {
      "get": {
        "operationId": "openapi.get",
        "summary": "Fetch this OpenAPI document",
        "description": "The specification of this API, generated from the same Zod schemas the server validates with. No API key required.",
        "tags": ["meta"],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiDocument"
                }
              }
            }
          }
        }
      }
    },
    "/v1/availability": {
      "post": {
        "operationId": "availability.search",
        "summary": "Search availability over a window",
        "tags": ["availability"],
        "parameters": [
          {
            "$ref": "#/components/parameters/BookrailVersion"
          },
          {
            "$ref": "#/components/parameters/BookrailActor"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "service_id": {
                    "type": "string",
                    "description": "Identifier of a service, prefixed with `svc_`.",
                    "pattern": "^svc_[0-9a-f]{32}$",
                    "example": "svc_0198f0c2a1b47e2e9a1c0f4d5e6a7b8c"
                  },
                  "from": {
                    "type": "string",
                    "description": "ISO 8601 instant with an explicit offset. Any offset is accepted on input; every instant is returned in UTC.",
                    "format": "date-time",
                    "example": "2026-09-08T07:00:00Z"
                  },
                  "to": {
                    "type": "string",
                    "description": "ISO 8601 instant with an explicit offset. Any offset is accepted on input; every instant is returned in UTC.",
                    "format": "date-time",
                    "example": "2026-09-08T07:00:00Z"
                  },
                  "quantity": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 100000
                  },
                  "resource_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Identifier of a resource, prefixed with `res_`.",
                      "pattern": "^res_[0-9a-f]{32}$",
                      "example": "res_0198f0c2a1b47e2e9a1c0f4d5e6a7b8c"
                    },
                    "minItems": 1,
                    "maxItems": 500
                  },
                  "customer_id": {
                    "type": "string",
                    "description": "Identifier of a customer, prefixed with `cus_`.",
                    "pattern": "^cus_[0-9a-f]{32}$",
                    "example": "cus_0198f0c2a1b47e2e9a1c0f4d5e6a7b8c"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "IANA time zone name.",
                    "example": "Europe/Rome"
                  },
                  "granularity": {
                    "type": "string",
                    "enum": ["slots", "ranges"]
                  },
                  "explain": {
                    "type": "boolean"
                  }
                },
                "required": ["service_id", "from", "to"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              },
              "Idempotent-Replayed": {
                "schema": {
                  "type": "string",
                  "description": "`true` when the body is the stored answer of an earlier request with the same `Idempotency-Key`."
                },
                "required": false
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Availability"
                }
              }
            }
          },
          "400": {
            "description": "Error codes: `idempotency_key_reused`, `invalid_body`, `invalid_range`, `parameter_invalid`, `parameter_missing`, `range_too_large`, `service_without_duration`, `timezone_missing`, `unsupported_api_version`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error codes: `invalid_api_key`, `invalid_authorization_header`, `missing_api_key`, `revoked_api_key`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error codes: `resource_missing`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error codes: `idempotency_key_in_progress`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error codes: `internal_error`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/availability/check": {
      "post": {
        "operationId": "availability.check",
        "summary": "Check one precise instant",
        "description": "Feasibility at that instant, not alignment to the grid: a start the search would not offer still gets structured reasons.",
        "tags": ["availability"],
        "parameters": [
          {
            "$ref": "#/components/parameters/BookrailVersion"
          },
          {
            "$ref": "#/components/parameters/BookrailActor"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "service_id": {
                    "type": "string",
                    "description": "Identifier of a service, prefixed with `svc_`.",
                    "pattern": "^svc_[0-9a-f]{32}$",
                    "example": "svc_0198f0c2a1b47e2e9a1c0f4d5e6a7b8c"
                  },
                  "start": {
                    "type": "string",
                    "description": "ISO 8601 instant with an explicit offset. Any offset is accepted on input; every instant is returned in UTC.",
                    "format": "date-time",
                    "example": "2026-09-08T07:00:00Z"
                  },
                  "duration_minutes": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 525600
                  },
                  "quantity": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 100000
                  },
                  "resource_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Identifier of a resource, prefixed with `res_`.",
                      "pattern": "^res_[0-9a-f]{32}$",
                      "example": "res_0198f0c2a1b47e2e9a1c0f4d5e6a7b8c"
                    },
                    "minItems": 1,
                    "maxItems": 500
                  }
                },
                "required": ["service_id", "start"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              },
              "Idempotent-Replayed": {
                "schema": {
                  "type": "string",
                  "description": "`true` when the body is the stored answer of an earlier request with the same `Idempotency-Key`."
                },
                "required": false
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailabilityCheck"
                }
              }
            }
          },
          "400": {
            "description": "Error codes: `idempotency_key_reused`, `invalid_body`, `invalid_range`, `parameter_invalid`, `parameter_missing`, `range_too_large`, `service_without_duration`, `timezone_missing`, `unsupported_api_version`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error codes: `invalid_api_key`, `invalid_authorization_header`, `missing_api_key`, `revoked_api_key`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error codes: `resource_missing`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error codes: `idempotency_key_in_progress`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error codes: `internal_error`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/availability/next": {
      "get": {
        "operationId": "availability.next",
        "summary": "Find the next bookable slot",
        "description": "Searches in thirty day windows up to a ninety day horizon, stopping at the first window that contains a slot.",
        "tags": ["availability"],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Identifier of a service, prefixed with `svc_`.",
              "pattern": "^svc_[0-9a-f]{32}$",
              "example": "svc_0198f0c2a1b47e2e9a1c0f4d5e6a7b8c"
            },
            "required": true,
            "name": "service_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 instant with an explicit offset. Any offset is accepted on input; every instant is returned in UTC.",
              "format": "date-time",
              "example": "2026-09-08T07:00:00Z"
            },
            "required": false,
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^[1-9]\\d{0,5}$"
            },
            "required": false,
            "name": "quantity",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "IANA time zone name.",
              "example": "Europe/Rome"
            },
            "required": false,
            "name": "timezone",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/BookrailVersion"
          },
          {
            "$ref": "#/components/parameters/BookrailActor"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailabilityNext"
                }
              }
            }
          },
          "400": {
            "description": "Error codes: `invalid_range`, `parameter_invalid`, `parameter_missing`, `range_too_large`, `service_without_duration`, `timezone_missing`, `unsupported_api_version`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error codes: `invalid_api_key`, `invalid_authorization_header`, `missing_api_key`, `revoked_api_key`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error codes: `resource_missing`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error codes: `internal_error`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bookings": {
      "post": {
        "operationId": "bookings.create",
        "summary": "Create a booking",
        "description": "With `hold_id` it converts the hold instead of taking new capacity. `payment.mode` other than `none`, and any `recurrence`, answer `400 not_yet_supported`.",
        "tags": ["bookings"],
        "parameters": [
          {
            "$ref": "#/components/parameters/BookrailVersion"
          },
          {
            "$ref": "#/components/parameters/BookrailActor"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "service_id": {
                    "type": "string",
                    "description": "Identifier of a service, prefixed with `svc_`.",
                    "pattern": "^svc_[0-9a-f]{32}$",
                    "example": "svc_0198f0c2a1b47e2e9a1c0f4d5e6a7b8c"
                  },
                  "start": {
                    "type": "string",
                    "description": "ISO 8601 instant with an explicit offset. Any offset is accepted on input; every instant is returned in UTC.",
                    "format": "date-time",
                    "example": "2026-09-08T07:00:00Z"
                  },
                  "duration_minutes": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 525600
                  },
                  "quantity": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 100000
                  },
                  "resource_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Identifier of a resource, prefixed with `res_`.",
                      "pattern": "^res_[0-9a-f]{32}$",
                      "example": "res_0198f0c2a1b47e2e9a1c0f4d5e6a7b8c"
                    },
                    "minItems": 1,
                    "maxItems": 500
                  },
                  "customer_id": {
                    "type": "string",
                    "description": "Identifier of a customer, prefixed with `cus_`.",
                    "pattern": "^cus_[0-9a-f]{32}$",
                    "example": "cus_0198f0c2a1b47e2e9a1c0f4d5e6a7b8c"
                  },
                  "customer": {
                    "type": "object",
                    "properties": {
                      "external_id": {
                        "type": ["string", "null"],
                        "minLength": 1,
                        "maxLength": 200
                      },
                      "email": {
                        "type": ["string", "null"],
                        "maxLength": 320,
                        "format": "email"
                      },
                      "phone": {
                        "type": ["string", "null"],
                        "minLength": 3,
                        "maxLength": 50
                      },
                      "name": {
                        "type": ["string", "null"],
                        "minLength": 1,
                        "maxLength": 200
                      },
                      "timezone": {
                        "type": "string",
                        "description": "IANA time zone name.",
                        "example": "Europe/Rome"
                      },
                      "locale": {
                        "type": ["string", "null"],
                        "minLength": 2,
                        "maxLength": 20
                      },
                      "tenant_id": {
                        "type": ["string", "null"],
                        "minLength": 1,
                        "maxLength": 200
                      },
                      "metadata": {
                        "type": "object",
                        "additionalProperties": {},
                        "description": "Free-form key/value pairs stored with the object and returned untouched."
                      }
                    },
                    "additionalProperties": false
                  },
                  "notes": {
                    "type": ["string", "null"],
                    "maxLength": 5000
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {},
                    "description": "Free-form key/value pairs stored with the object and returned untouched."
                  },
                  "source": {
                    "type": "string",
                    "enum": ["api", "widget", "portal", "import"]
                  },
                  "hold_id": {
                    "type": "string",
                    "description": "Identifier of a hold, prefixed with `hold_`.",
                    "pattern": "^hold_[0-9a-f]{32}$",
                    "example": "hold_0198f0c2a1b47e2e9a1c0f4d5e6a7b8c"
                  },
                  "payment": {
                    "type": ["object", "null"],
                    "properties": {
                      "mode": {
                        "type": "string",
                        "enum": ["none", "deposit", "full", "entitlement"]
                      },
                      "entitlement_id": {
                        "type": ["string", "null"],
                        "minLength": 1,
                        "maxLength": 200
                      }
                    },
                    "required": ["mode"],
                    "additionalProperties": false
                  },
                  "recurrence": {
                    "type": ["object", "null"],
                    "additionalProperties": {}
                  }
                },
                "required": ["service_id", "start"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              },
              "Idempotent-Replayed": {
                "schema": {
                  "type": "string",
                  "description": "`true` when the body is the stored answer of an earlier request with the same `Idempotency-Key`."
                },
                "required": false
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "400": {
            "description": "Error codes: `duration_not_offered`, `hold_mismatch`, `idempotency_key_reused`, `invalid_body`, `not_yet_supported`, `parameter_invalid`, `parameter_missing`, `resource_not_eligible`, `service_without_duration`, `unsupported_api_version`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error codes: `invalid_api_key`, `invalid_authorization_header`, `missing_api_key`, `revoked_api_key`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error codes: `resource_missing`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error codes: `hold_expired`, `hold_not_active`, `idempotency_key_in_progress`, `serialization_failure`, `slot_unavailable`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error codes: `customer_limit_reached`, `min_notice_violated`, `outside_booking_window`, `start_not_on_grid`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error codes: `internal_error`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "bookings.list",
        "summary": "List bookings",
        "description": "`from` and `to` filter on `starts_at`: `from` included, `to` excluded.",
        "tags": ["bookings"],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "How many objects to return, 1 to 100. Defaults to 20.",
              "example": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^bk_[0-9a-f]{32}$",
              "description": "Cursor: the `id` of the last object of the previous page."
            },
            "required": false,
            "name": "starting_after",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Identifier of a customer, prefixed with `cus_`.",
              "pattern": "^cus_[0-9a-f]{32}$",
              "example": "cus_0198f0c2a1b47e2e9a1c0f4d5e6a7b8c"
            },
            "required": false,
            "name": "customer_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Identifier of a resource, prefixed with `res_`.",
              "pattern": "^res_[0-9a-f]{32}$",
              "example": "res_0198f0c2a1b47e2e9a1c0f4d5e6a7b8c"
            },
            "required": false,
            "name": "resource_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Identifier of a service, prefixed with `svc_`.",
              "pattern": "^svc_[0-9a-f]{32}$",
              "example": "svc_0198f0c2a1b47e2e9a1c0f4d5e6a7b8c"
            },
            "required": false,
            "name": "service_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "held",
                "pending",
                "confirmed",
                "in_progress",
                "completed",
                "cancelled",
                "no_show",
                "rescheduled"
              ]
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 instant with an explicit offset. Any offset is accepted on input; every instant is returned in UTC.",
              "format": "date-time",
              "example": "2026-09-08T07:00:00Z"
            },
            "required": false,
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 instant with an explicit offset. Any offset is accepted on input; every instant is returned in UTC.",
              "format": "date-time",
              "example": "2026-09-08T07:00:00Z"
            },
            "required": false,
            "name": "to",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["customer", "allocations.resource"]
              },
              "description": "Related objects to inline. Repeat the parameter, or send a comma separated list. Accepts: customer, allocations.resource."
            },
            "required": false,
            "name": "expand[]",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/BookrailVersion"
          },
          {
            "$ref": "#/components/parameters/BookrailActor"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingList"
                }
              }
            }
          },
          "400": {
            "description": "Error codes: `parameter_invalid`, `parameter_missing`, `unsupported_api_version`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error codes: `invalid_api_key`, `invalid_authorization_header`, `missing_api_key`, `revoked_api_key`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error codes: `internal_error`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bookings/{id}": {
      "get": {
        "operationId": "bookings.get",
        "summary": "Retrieve a booking",
        "tags": ["bookings"],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Identifier of the booking."
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["customer", "allocations.resource"]
              },
              "description": "Related objects to inline. Repeat the parameter, or send a comma separated list. Accepts: customer, allocations.resource."
            },
            "required": false,
            "name": "expand[]",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/BookrailVersion"
          },
          {
            "$ref": "#/components/parameters/BookrailActor"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "400": {
            "description": "Error codes: `parameter_invalid`, `parameter_missing`, `unsupported_api_version`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error codes: `invalid_api_key`, `invalid_authorization_header`, `missing_api_key`, `revoked_api_key`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error codes: `resource_missing`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error codes: `internal_error`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bookings/{id}/cancel": {
      "post": {
        "operationId": "bookings.cancel",
        "summary": "Cancel a booking",
        "description": "`by` defaults to `customer`. `override_refund_percent` beats every tier, for any `by`. No money moves: the amounts written are expectations.",
        "tags": ["bookings"],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Identifier of the booking."
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "$ref": "#/components/parameters/BookrailVersion"
          },
          {
            "$ref": "#/components/parameters/BookrailActor"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": ["string", "null"],
                    "maxLength": 1000
                  },
                  "by": {
                    "type": "string",
                    "enum": ["customer", "provider", "system"]
                  },
                  "override_refund_percent": {
                    "type": ["number", "null"],
                    "minimum": 0,
                    "maximum": 100
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              },
              "Idempotent-Replayed": {
                "schema": {
                  "type": "string",
                  "description": "`true` when the body is the stored answer of an earlier request with the same `Idempotency-Key`."
                },
                "required": false
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "400": {
            "description": "Error codes: `idempotency_key_reused`, `invalid_body`, `parameter_invalid`, `parameter_missing`, `unsupported_api_version`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error codes: `invalid_api_key`, `invalid_authorization_header`, `missing_api_key`, `revoked_api_key`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error codes: `resource_missing`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error codes: `idempotency_key_in_progress`, `invalid_transition`, `serialization_failure`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error codes: `complete_too_early`, `no_show_too_early`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error codes: `internal_error`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bookings/{id}/check_in": {
      "post": {
        "operationId": "bookings.check_in",
        "summary": "Check a booking in",
        "tags": ["bookings"],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Identifier of the booking."
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "$ref": "#/components/parameters/BookrailVersion"
          },
          {
            "$ref": "#/components/parameters/BookrailActor"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              },
              "Idempotent-Replayed": {
                "schema": {
                  "type": "string",
                  "description": "`true` when the body is the stored answer of an earlier request with the same `Idempotency-Key`."
                },
                "required": false
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "400": {
            "description": "Error codes: `idempotency_key_reused`, `invalid_body`, `parameter_invalid`, `parameter_missing`, `unsupported_api_version`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error codes: `invalid_api_key`, `invalid_authorization_header`, `missing_api_key`, `revoked_api_key`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error codes: `resource_missing`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error codes: `idempotency_key_in_progress`, `invalid_transition`, `serialization_failure`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error codes: `complete_too_early`, `no_show_too_early`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error codes: `internal_error`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bookings/{id}/complete": {
      "post": {
        "operationId": "bookings.complete",
        "summary": "Complete a booking",
        "description": "Allowed from `starts_at` onwards; before that it is `422 complete_too_early`.",
        "tags": ["bookings"],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Identifier of the booking."
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "$ref": "#/components/parameters/BookrailVersion"
          },
          {
            "$ref": "#/components/parameters/BookrailActor"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              },
              "Idempotent-Replayed": {
                "schema": {
                  "type": "string",
                  "description": "`true` when the body is the stored answer of an earlier request with the same `Idempotency-Key`."
                },
                "required": false
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "400": {
            "description": "Error codes: `idempotency_key_reused`, `invalid_body`, `parameter_invalid`, `parameter_missing`, `unsupported_api_version`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error codes: `invalid_api_key`, `invalid_authorization_header`, `missing_api_key`, `revoked_api_key`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error codes: `resource_missing`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error codes: `idempotency_key_in_progress`, `invalid_transition`, `serialization_failure`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error codes: `complete_too_early`, `no_show_too_early`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error codes: `internal_error`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bookings/{id}/confirm": {
      "post": {
        "operationId": "bookings.confirm",
        "summary": "Confirm a booking",
        "tags": ["bookings"],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Identifier of the booking."
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "$ref": "#/components/parameters/BookrailVersion"
          },
          {
            "$ref": "#/components/parameters/BookrailActor"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              },
              "Idempotent-Replayed": {
                "schema": {
                  "type": "string",
                  "description": "`true` when the body is the stored answer of an earlier request with the same `Idempotency-Key`."
                },
                "required": false
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "400": {
            "description": "Error codes: `idempotency_key_reused`, `invalid_body`, `parameter_invalid`, `parameter_missing`, `unsupported_api_version`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error codes: `invalid_api_key`, `invalid_authorization_header`, `missing_api_key`, `revoked_api_key`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error codes: `resource_missing`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error codes: `idempotency_key_in_progress`, `invalid_transition`, `serialization_failure`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error codes: `complete_too_early`, `no_show_too_early`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error codes: `internal_error`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bookings/{id}/no_show": {
      "post": {
        "operationId": "bookings.no_show",
        "summary": "Mark a booking as a no-show",
        "description": "Allowed from `starts_at + policy_snapshot.no_show.grace_minutes` onwards; before that it is `422 no_show_too_early`.",
        "tags": ["bookings"],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Identifier of the booking."
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "$ref": "#/components/parameters/BookrailVersion"
          },
          {
            "$ref": "#/components/parameters/BookrailActor"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              },
              "Idempotent-Replayed": {
                "schema": {
                  "type": "string",
                  "description": "`true` when the body is the stored answer of an earlier request with the same `Idempotency-Key`."
                },
                "required": false
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "400": {
            "description": "Error codes: `idempotency_key_reused`, `invalid_body`, `parameter_invalid`, `parameter_missing`, `unsupported_api_version`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error codes: `invalid_api_key`, `invalid_authorization_header`, `missing_api_key`, `revoked_api_key`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error codes: `resource_missing`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error codes: `idempotency_key_in_progress`, `invalid_transition`, `serialization_failure`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error codes: `complete_too_early`, `no_show_too_early`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error codes: `internal_error`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bookings/{id}/reschedule": {
      "post": {
        "operationId": "bookings.reschedule",
        "summary": "Reschedule a booking",
        "description": "Answers with the **new** booking. The old one is one `GET` away through `rescheduled_from_booking_id`. An unavailable slot is a `409` and leaves the old booking intact.",
        "tags": ["bookings"],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Identifier of the booking."
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "$ref": "#/components/parameters/BookrailVersion"
          },
          {
            "$ref": "#/components/parameters/BookrailActor"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "description": "ISO 8601 instant with an explicit offset. Any offset is accepted on input; every instant is returned in UTC.",
                    "format": "date-time",
                    "example": "2026-09-08T07:00:00Z"
                  },
                  "resource_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Identifier of a resource, prefixed with `res_`.",
                      "pattern": "^res_[0-9a-f]{32}$",
                      "example": "res_0198f0c2a1b47e2e9a1c0f4d5e6a7b8c"
                    },
                    "minItems": 1,
                    "maxItems": 500
                  }
                },
                "required": ["start"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              },
              "Idempotent-Replayed": {
                "schema": {
                  "type": "string",
                  "description": "`true` when the body is the stored answer of an earlier request with the same `Idempotency-Key`."
                },
                "required": false
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "400": {
            "description": "Error codes: `duration_not_offered`, `idempotency_key_reused`, `invalid_body`, `parameter_invalid`, `parameter_missing`, `resource_not_eligible`, `service_without_duration`, `unsupported_api_version`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error codes: `invalid_api_key`, `invalid_authorization_header`, `missing_api_key`, `revoked_api_key`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error codes: `resource_missing`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error codes: `idempotency_key_in_progress`, `invalid_transition`, `serialization_failure`, `slot_unavailable`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error codes: `complete_too_early`, `customer_limit_reached`, `max_reschedules_reached`, `min_notice_violated`, `no_show_too_early`, `outside_booking_window`, `start_not_on_grid`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error codes: `internal_error`.",
            "headers": {
              "Bookrail-Request-Id": {
                "schema": {
                  "type": "string",
                  "description": "Identifier of this request. Quote it to support."
                },
                "required": true
              },
              "Bookrail-Version": {
                "schema": {
                  "type": "string",
                  "description": "The API version this response was produced with."
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers": {
      "post": {
        "operationId": "customers.create",
        "summary": "Create or upsert a customer",
        "description": "With `external_id` the write is an upsert with merge: `201` when the customer is created, `200` when an existing one is updated.",
        "tags": ["customers"],
        "parameters": [
          {
            "$ref": "#/components/parameters/BookrailVersion"
          },
          {
            "$ref": "#/components/parameters/BookrailActor"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
[...]
